*					{margin: 0;}
html, body, nav		{font: 12px/1 'Montserrat', sans-serif;}
body				{background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/mochaGrunge.png");}
nav					{color: #333333; overflow-x: hidden; overflow-y: hidden;}

.nav_top			{position: relative; top: -15px; left: 0; width: 100%; height: 70px; margin-bottom: 50px; border-bottom: 1px solid #222222; background: #2B303B; z-index: 0}
.connection			{position: relative; color: #FFFFFF; text-align: right; padding-top: 25px; margin-right: 1vw;}
.account			{position: relative; color: #FFFFFF; text-align: right; padding-top: 10px; margin-right: 1vw; text-decoration: none;}

.create				{text-decoration: none; color: silver;}
.create:hover		{text-decoration: underline;}

.title_div			{position: absolute; margin-top: 25px; margin-left: 2vw; z-index: 2}
.title				{color: silver; text-decoration: none;}
.access_admin		{position: absolute; color: silver; text-decoration: none; margin-top: 5px; width: 300%;}
.access_admin:hover	{text-decoration: underline;}

.st_grid			{display: flex;}
.grid_row			{padding-top: 1%; display: flex; flex-direction: row; flex-wrap: wrap;}
.st_flex			{flex: 1; text-align: center;}
.st_flex_2			{flex: 2; text-align: center; overflow: auto; height: 17.9vh;}
.flex_nocenter		{flex: 1;}
.flex				{flex: 1; text-align: center; flex-wrap: wrap; flex-direction: row; width: 250px; padding-bottom: 2vh; margin: 5px;}
.flex_inside		{padding: 2vh 1vw 2vh 1vw ; background-color: #2B303B; border-radius: 10px; color: #FFFFFF;}
.flex:nth-child(1n)	{flex-basis: 20%;}

.form				{padding: 4vh 1vw 4vh 1vw ; background-color: #2B303B; border-radius: 10px; color: #FFFFFF;}
.footer				{position: absolute; bottom: 20px; width: 99%; text-align: center;}
.add_panier			{width: 80px;}

.text_center		{text-align: center;}

.panierr			{position: absolute; margin-top: -44px; right: 2vw; border-radius: 100px; background-color: #FFFFFF; padding: 0.3vw;}
.panier				{position: relative; border-radius: 100px; background-color: #D49595; padding: 0.7vw;}

.button				{border: none; text-transform: uppercase; cursor: pointer; background: #888888; color: #FFFFFF; font-size: 1em; letter-spacing: 1px; border-radius: 10px; margin-top: 10px;}
.button_dark		{border: none; text-transform: uppercase; cursor: pointer; background: #2B303B; color: #FFFFFF; font-size: 1em; letter-spacing: 1px; border-radius: 10px; margin-top: 10px;}

.fake_button		{border: none; text-transform: uppercase; background: #888888; color: #FFFFFF; font-size: 1em; letter-spacing: 1px; border-radius: 10px; margin-top: 10px;}
.fake				{background-color: #2B303B; border: none; text-transform: uppercase; cursor: default; padding: 0.1vh; font-size: 1em; font-weight: bold; letter-spacing: 3px; border-radius: 10px}
.select-menu 		{border: 1px solid black;position: absolute;width: 300px;height: 1000px;top: 135px;}
.select-menu.on-left 	{left:90px;}
.select-menu.on-right 	{right:90px;}
